<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name%></td>
        <td><%= link_to (image_tag game.image.url(:medium), :class => "gameH"), game %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
<style>
 .gameH {
  padding: 5px;
  border: 2px solid black;
 }
 .gameH:hover{
    background-color:#fffbc0 ;
 }
</style>
